/* * {
    background-color: black;
} */

/* 
body {
  margin: 0;
  padding: 0;
} */

.bunker {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 0;
  background: url("final1.jfif");
  background-position: 25%;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

/* .title {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.title > h1 {
  color: #fff;
  font-size: 5rem;
  text-transform: uppercase;
  letter-spacing: 1px;
} */

.fog {
    position: relative;
    height: 100vh;
    width: 100%;
    background: #fff;
  }

.fog-container {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 1;
  }

.fog-img {
    position: absolute;
    height: 100vh;
    width: 300vw;
    z-index: 2;
  }

.fog-img-first {
    background: url("fog1.png");
    background-repeat: repeat-x;
    background-size: contain;
    background-position: center;
    animation: marquee 60s linear infinite;
  }

.fog-img-second {
    background: url("fog2.png");
    background-repeat: repeat-x;
    background-size: contain;
    background-position: center;
    animation: marquee 30s linear infinite;
  }

@keyframes marquee {
    0% {
      transform: translate3d(0, 0, 0);
    }

    100% {
      transform: translate3d(-200vw, 0, 0);
    }
  }

#page1 {
      position: relative;
  }




#titlewords {
      position: absolute;
      max-width: 100%;
      height: 40%;
      top: 20px;
      left: 390px;
      z-index: 4;
  }
#titlewords2 {
      position: absolute;
      max-width: 100%;
      height: 10%;
      top: 210px;
      left: 540px;
      z-index: 4;
  }

#gameform {
      position: absolute;
      max-width: 100%;
      height: 10%;
      top: 300px;
      left: 540px;
      z-index: 4;
  }



body {
    background: black;
    color: brown;
    font-family: fantasy;
  }

#themesong {
    visibility: hidden;
  }

#user-input {
    width: 70px;
    height: 50px;
    font-family: fantasy;
    font-size: 35px;
  }

button {
    width: auto;
    text-align: auto;
    height: 40px;
    border-radius: 15%;
    background-color: rgb(184, 184, 184);
    background-image: linear-gradient(chocolate, black);
    font-size: 15px;
    padding: 15px 25px;
    font-family: fantasy;
    transition: all .5s ease;
  }

button:hover {
    background: chocolate;
    transition: all .5s ease;
    transform: scale(1.1);
  }

.header { 
    text-align: center;
    grid-row: 1;
    grid-column: 1 / 4;

  }

.rick {
    width: 300px;
  }

.side {
    width: 150px;
  }

.gameplay-text {
    font-size: 40px;
    text-align: center;
  }

.rick-collector {
    display: flex;
    justify-content: center;
    grid-row: 2;
    grid-column: 3;
  }

.center-text {
    grid-row: 2;
    grid-column: 2;
  }

.gameplay-text {
    grid-row: 2;
    grid-column: 2;
  }

.side_pane {
    display: flex;
    justify-content: center;
    grid-row: 2;
    grid-column: 1;
  }

.reset-buttons {
    display: flex;
    justify-content: center;
  }

.game-buttons {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

.attack {
    display: flex;
    justify-content: column;
    width: 50px;
    border-radius: 50%;
    padding: 20px;
  }

#zombie1 {
    visibility: hidden;
  }

#zombie2 {
    visibility: hidden;
  }

#zombie3 {
    visibility: hidden;
  }

#zombie4 {
    visibility: hidden;
  }

#zombie5 {
    visibility: hidden;
  }

#zombie6 {
    visibility: hidden;
  }


.dialog { 
    text-align: center;
    font-size: 20px;
  }

.finish-text {
    font-size: 70px;
    text-align: center;
  }

.correct-text {
    font-size: 30px;
    text-align: center;
  }

#submit-box {
    text-align: center;
  }

#form {
    text-align: center;
  }

.instructions {
    color: beige;
  }

#page1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

#page2 {
    display: none;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    justify-content: center;
  }

#page3 {
    display: none;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    justify-content: center;
  }

#page4 {
    display: none;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    justify-content: center;
  }

#page5 {
    display: none;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    justify-content: center;
  }

#you-win {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

#you-lose {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

.bill-lose {
    width: 500px;
}

.bill-greeting {
    text-align: center;
}

#do_u_want_to_play {
    text-align: center;
}

.bill-greet {
    margin-top: 25px;
    font-size: 21px;
    text-align: center;
        /* ***Fade in animation */
         -webkit-animation:fadein 5s; 
         -moz-animation: fadein 5s;
         -ms-animation:fadein 5s;
         -o-animation: fadein 5s;
         animation: fadein 5s;
}

@keyframes fadein {
    from  { opacity: 0;}
    to    {opacity: 1;}
}

@-moz-keyframes fadein {
    from  { opacity: 0;}
    to    {opacity: 1;}
}

@-webkit-keyframes fadein {
  from  { opacity: 0;}
  to    {opacity: 1;}
}

@-ms-keyframes fadein {
  from  { opacity: 0;}
}